// TODO does not need class for the time being, it needs to be implemented by the user with variables, and it is not recommended to use the class name
// @mixin get-styles($k,$c) {
// 	@if $k == size or $k == weight{
// 		font-#{$k}:#{$c}
// 	}@else{
// 		#{$k}:#{$c}
// 	}
// }
$uni-ui-color: (
	// The main color
	primary: $uni-primary,
	primary-disable: $uni-primary-disable,
	primary-light: $uni-primary-light,
	// Auxiliary color
	success: $uni-success,
	success-disable: $uni-success-disable,
	success-light: $uni-success-light,
	warning: $uni-warning,
	warning-disable: $uni-warning-disable,
	warning-light: $uni-warning-light,
	error: $uni-error,
	error-disable: $uni-error-disable,
	error-light: $uni-error-light,
	info: $uni-info,
	info-disable: $uni-info-disable,
	info-light: $uni-info-light,
	// Neutral colors
	main-color: $uni-main-color,
	base-color: $uni-base-color,
	secondary-color: $uni-secondary-color,
	extra-color: $uni-extra-color,
	// Background color
	bg-color: $uni-bg-color,
	// Border color
	border-1: $uni-border-1,
	border-2: $uni-border-2,
	border-3: $uni-border-3,
	border-4: $uni-border-4,
	// Black
	black:$uni-black,
	// White
	white:$uni-white,
	// Transparent
	transparent:$uni-transparent) !default;

@each $key, $child in $uni-ui-color {
	.uni-#{"" + $key} {
		color: $child;
	}

	.uni-#{"" + $key}-bg {
		background-color: $child;
	}
}

.uni-shadow-sm {
	box-shadow: $uni-shadow-sm;
}

.uni-shadow-base {
	box-shadow: $uni-shadow-base;
}

.uni-shadow-lg {
	box-shadow: $uni-shadow-lg;
}

.uni-mask {
	background-color: $uni-mask;
}