// @use "sass:math";
@import '../tools/functions.scss';
// Spacing base multiple
$uni-space-root: 2 !default;
// Border radius default
$uni-radius-root: 5px !default;
$uni-radius: (
  ) !default;
// Border radius breakpoint
$uni-radius: map-deep-merge((0: 0,
      // The current version of TODO does not support the sm attribute at this time
      // 'sm': math.div($uni-radius-root, 2),
      null: $uni-radius-root,
      'lg': $uni-radius-root * 2,
      'xl': $uni-radius-root * 6,
      'pill': 9999px,
      'circle': 50%),
    $uni-radius
);
// Font family
$body-font-family: 'Roboto', sans-serif !default;
// text
$heading-font-family: $body-font-family !default;
$uni-headings: (
  ) !default;
$letterSpacing: -0.01562em;
$uni-headings: map-deep-merge(('h1': (size: 32px,
        weight: 300,
        line-height: 50px,
        // letter-spacing:-0.01562em
      ),
      'h2': (size: 28px,
        weight: 300,
        line-height: 40px,
        // letter-spacing: -0.00833em
      ),
      'h3': (size: 24px,
        weight: 400,
        line-height: 32px,
        // letter-spacing: normal
      ),
      'h4': (size: 20px,
        weight: 400,
        line-height: 30px,
        // letter-spacing: 0.00735em
      ),
      'h5': (size: 16px,
        weight: 400,
        line-height: 24px,
        // letter-spacing: normal
      ),
      'h6': (size: 14px,
        weight: 500,
        line-height: 18px,
        // letter-spacing: 0.0125em
      ),
      'subtitle': (size: 12px,
        weight: 400,
        line-height: 20px,
        // letter-spacing: 0.00937em
      ),
      'body': (font-size: 14px,
        font-weight: 400,
        line-height: 22px,
        // letter-spacing: 0.03125em
      ),
      'caption': ('size': 12px,
        'weight': 400,
        'line-height': 20px,
        // 'letter-spacing': 0.03333em,
        // 'text-transform': false
      )),
    $uni-headings
);



// The main color
$uni-primary: #2979ff !default;
$uni-primary-disable: lighten($uni-primary, 20%) !default;
$uni-primary-light: lighten($uni-primary, 25%) !default;

// Auxiliary color
// Scene colors other than the main color need to be used in different scenes (e.g. dangerous colors for dangerous operations).
$uni-success: #18bc37 !default;
$uni-success-disable: lighten($uni-success, 20%) !default;
$uni-success-light: lighten($uni-success, 25%) !default;

$uni-warning: #f3a73f !default;
$uni-warning-disable: lighten($uni-warning, 20%) !default;
$uni-warning-light: lighten($uni-warning, 25%) !default;

$uni-error: #e43d33 !default;
$uni-error-disable: lighten($uni-error, 20%) !default;
$uni-error-light: lighten($uni-error, 25%) !default;

$uni-info: #8f939c !default;
$uni-info-disable: lighten($uni-info, 20%) !default;
$uni-info-light: lighten($uni-info, 25%) !default;

// Neutral colors
// Neutrals are used for text, background, and border colors. Use different neutral colors to express the hierarchy.
$uni-main-color: #3a3a3a !default; // Main text
$uni-base-color: #6a6a6a !default; // Regular text
$uni-secondary-color: #909399 !default; // Secondary text
$uni-extra-color: #c7c7c7 !default; // Auxiliary instructions

// Border color
$uni-border-1: #F0F0F0 !default;
$uni-border-2: #EDEDED !default;
$uni-border-3: #DCDCDC !default;
$uni-border-4: #B9B9B9 !default;

// Regular color
$uni-black: #000000 !default;
$uni-white: #ffffff !default;
$uni-transparent: rgba($color: #000000, $alpha: 0) !default;

// Background color
$uni-bg-color: #f7f7f7 !default;

/* Horizontal spacing  */
$uni-spacing-sm: 8px !default;
$uni-spacing-base: 15px !default;
$uni-spacing-lg: 30px !default;

// shadow
$uni-shadow-sm: 0 0 5px rgba($color: #d8d8d8, $alpha: 0.5) !default;
$uni-shadow-base: 0 1px 8px 1px rgba($color: #a5a5a5, $alpha: 0.2) !default;
$uni-shadow-lg: 0px 1px 10px 2px rgba($color: #a5a4a4, $alpha: 0.5) !default;

// Masks
$uni-mask: rgba($color: #000000, $alpha: 0.4) !default;