html,
body,
/* #app {
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  padding: 0;
} */

/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // 设置主题色 
  --el-color-primary: #167f7b;
  --el-color-primary-light-3: #1aa29e;
  --el-color-primary-light-5: #21a8a4;
  --el-color-primary-light-7: #299b97;
  --el-color-primary-light-8: #29dfd9;
  --el-color-primary-dark-2: #167f7b;
  // 表格单元格hover背景色 
  --el-fill-color-light: #eff8f8;
  // 表头字体 
  --el-text-color-secondary: rgba(0, 0, 0, 0.7);
}
*/

/* 滚动条 */
::-webkit-scrollbar {
  /*滚动条整体样式*/ /*高宽分别对应横竖滚动条的尺寸*/
  width: var(--scrollbar-width, 10px);
  height: var(--scrollbar-height, 5px);
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: var(--scrollbar-thumb-radius, 10px);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--scrollbar-thumb-bgColor, rgba(204, 204, 204, 1));
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: var(--scrollbar-track-radius, 10px);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--scrollbar-track-bgColor, rgba(255, 255, 255, 1));
}
