<!DOCTYPE html>
<html>

<head>
    <!-- Voylio: Import Vuetify CSS -->
    <link href="../src/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../src/assets/css/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../src/assets/css/Login.css">
    <!-- Voylio: Set viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Login</title>
</head>

<body>
    <div id="app">

        <div>
            <v-app class="warm-gradient">
                <v-container fluid>
                    <v-row justify="center">
                        <v-col cols="8" sm="6" md="4">
                            <v-card elevation="0">
                                <v-card-title class="text-center">
                                    <h2 style="width: 100%;">Login</h2>
                                </v-card-title>
                                <v-card-text>
                                    <v-form ref="loginForm" v-model="valid" lazy-validation>
                                        <v-text-field label="Username or Email" required :rules="usernameRules"
                                            v-model="credentials.username" outlined></v-text-field>
                                        <v-text-field label="Password" type="password" required :rules="passwordRules"
                                            v-model="credentials.password" outlined></v-text-field>
                                        <div>
                                            <div class="d-flex justify-space-between align-center">
                                                <v-checkbox label="Remember Me" v-model="rememberMe"></v-checkbox>
                                                <div>
                                                    <a href="http://localhost:8080/forgot">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <v-btn color="primary" :disabled="!valid" @click="submitLogin"
                                                style=" width: 100%;">Login</v-btn>
                                                <a style="opacity: 0;" href="http://localhost:8080/">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </a>
                                            <!-- <button @click="goToHome">跳转到首页</button> -->
                                            <div style="display: flex;flex-wrap: wrap;">
                                                <div>
                                                    Don't have an account?
                                                    <a href="http://localhost:8080/register">Register Now</a>
                                                </div>
    
                                                <span>
                                                    Logging in means you agree to the <a
                                                        href="http://localhost:8080/Contract"> OASIS User Agreement </a>
                                                    and the
                                                    <a href="http://localhost:8080/Privacy"> Privacy Policy </a>
                                                </span>
                                            </div>
    
                                        </div>
                                    </v-form>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-app>
        </div>
    </div>
    <!-- Voylio: Import Vue and Vuetify JavaScript -->
    <script src="../src/assets/js/vue.js"></script>
    <script src="../src/assets/js/vuetify.js"></script>
    <!-- Voylio: Optional JavaScript files for drag and drop functionality -->
    <!-- <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/vue-router.global.js"></script> -->
    <script src="../src/assets/js/Login.js"></script>
</body>

</html>
